name: Release to Nuget

on:
  release:
    types: [published]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
      working-directory: ./src
    - name: Create NuGet Package
      run: dotnet pack -c Release /p:Version=${{ github.event.release.tag_name }} /p:PackageReleaseNotes="See https://github.com/gsoulavy/template-windows-service/releases/tag/${{ github.event.release.tag_name }}"
      working-directory: ./src
    - name: Archive NuGet Package
      uses: actions/upload-artifact@v1
      with:
        name: ServiceTemplate
        path: ./src/GSoulavy.Template.WindowsService/bin/Release/ServiceTemplate.${{ github.event.release.tag_name }}.nupkg
        
    - name: Publish NuGet Package
      run: dotnet nuget push **/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
